
<div class="home-container" >
  <!-- Left: Info -->
  <div class="home-info padd-15">
    <h3 class="hello">
      Hello, my name is <span class="name">Ziad Mahmoud</span>
    </h3>
    <h3 class="profession">
      I'm a <span class="typing-wrapper"><span class="typing">web
          Designer</span></span>
    </h3>
    <p>
      I'm Full-stack Developer with experience for over 1 year.My passionate
      about web technologies and enjoy building responsive, user-friendly web
      applications. As a Full Stack Developer and UI/UX Designer, I've gained
      hands-on experience in creating websites and apps that are both functional
      and easy to use.
    </p>
    <a href="images/CV.pdf" class="btn" download="Ziad_Mahmoud_CV">Download CV</a>
  </div>

  <!-- Right: Image -->
  <div class="home-img padd-15">
    <img src="images/ziko.webp" alt="hero image" />
  </div>
</div>
